.project-container {
    max-width: 1255px;
    margin: auto;
    margin-top: 50px;
    font-family: Poppins, sans-serif;
    position: relative;
}

.navigation-container {
}

.navigation-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 74px 0 0;
    height: 38px;
    
}


.navigation-logo {
    color: #18A7B9;
    font-weight: bold;
    font-size: 25px;
}
.navigation-logo p {
    height: 38px;
    margin: 0px;
}

.navigation-menu {
    padding-right: 50px;
}

.navigation-menu ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
    font-size: 18px;
    margin: 0;
}

.navigation-menu ul li {
    margin: 0 20px;
}

.banner-container {
    position: relative;
    margin-top: 7%;
}
.banner-container #image-1{
    position: absolute;
    top: -28%;
    right: 0;
    z-index: -1;
}
.banner-container #image-2{
    position: absolute;
    bottom: -63%;
    left: -10%;
    z-index: -1;
}

.statistics-wrapper {
    display: flex;
    font-size: 40px;
    margin: 0 118px 0 42px;
    justify-content: space-between;
}

.statistics-container img {
    position: relative;
    height: 45.19px;
    width: 41.44px;
    top: 75px;
    left: -5px;
    z-index: -1;

}

.banner-wrapper {
    width: 681px;
    height: 624px;
    margin: 112px 0 0;
    
}
.title-container {
}

.title-container p {
    font-weight: bold;
    font-size: 64px;
    margin: 23px;
}

.blessing-text-container {
    margin-top: 50px;
}
.blessing-text-container p {
    margin: 23px;
    font-size: 18px;
    color: #6B6B6B;
}

.banner-button-container {
    display: flex;
    margin: 84px 0 0 23px;
    font-size: 17px;
}

.explore-button {
    background-color: #18A7B9; /* Replace #ff0000 with the desired color code */
    color: #FFFFFF; /* Set text color to contrast with the background */
    padding: 10px 20px; /* Adjust padding as needed */
    border: none; /* Remove default button border */
    border-radius: 5px; /* Optional: add rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-right: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), 0px 0px 6px #007bff;
    height: 64px;
    width: 214px;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
}
.contact-us-button {
    background-color: #FFFFFF; /* Replace #ff0000 with the desired color code */
    color: #18A7B9; /* Set text color to contrast with the background */
    padding: 10px 20px; /* Adjust padding as needed */
    border-color: #18A7B9; /* Remove default button border */
    border-width: 1px;
    border-radius: 5px; /* Optional: add rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    height: 64px;
    width: 214px;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
}

.statistics-container {
}
.statistics-container span {
    margin-top: 10px;
    font-size: 20px !important;
}

.projects-done-container {
    margin-right: 70px;
}
.building-done-container {
    margin-right: 70px;
}

.logos-wrapper {
    padding: 70px;
    background: #FAFAFA;
    border-radius: 100px;
}
.logos-container {
    margin-top: 183px;

}
.frame1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo1 {
}

.orangeelipse p img {
    
}


.section-heading {
    display: flex;
    justify-content: space-between;
    margin: 100px 20px;
    padding: 0 11px; 
}

.section-content-container {
    display: flex;
    justify-content: space-between;
}
.pointer-1 {
    display: flex;
}
.pointer-1 p {
    padding-top: 200px;
    padding-right: 79px;
    margin: 0px;
}

.pointer-1 img {
    padding-top: 169px;
    padding-right: 68px;
    width: 15%;
}
.why-choose-us-wrapper {
    font-family: Poppins, sans-serif;
}
.Group592-container {
    padding-top: 80px;
}
.Group592-container p {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-size: 18px;
}

.Group592-container button {
    font-family: Poppins, sans-serif;
    font-size: 17px;
}

.why-choose-text-container {
    font-family: Poppins, sans-serif;
    font-size: 54px;
    font-weight: 500;
    margin-right: 40px;
}

.pointer-wrapper {
}